.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.page {
  padding: 20px;
}

.backButton {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
  padding: 5px 20px;
  border: 2px solid #ddd;
  background-color: #dbdbdb;
  border-radius: max(18px, 1.1vw);

}
.consultationSection {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.consultationSection p {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.consultationSection a {
  text-decoration: none;
  color: #111;
}
.footer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.image {
  width: 20px;
  height: 20px;
}
.ul-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: max(.7vw, 10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  
}
li {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #111;
}
.options .block {
  display: flex;
  align-items: center;
  gap: 8px;
}